.main-footer {
    background: #2B2F3E;
    padding-top: 60px;
    color: #fff;

    a {
        color: #fff;
        
        &:hover {
            color: #F25929;
        }
    }

    & > .container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 60px;
    }

    &__logo {
        margin-right: auto;
    }

    &__logo-img {
        width: 180px;
        height: 20px;
        fill: #fff;
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        max-height: 80px;
        width: 65%;
        flex-wrap: wrap;
    } 

    &__nav-item {
        padding-right: 10%;
        text-align: left;
    }

    &__nav-link {
        display: inline-block;
        padding: 0px 10px 20px;
        font-size: 16px;
        font-weight: 300;
    }

    &__contacts {
        text-align: right;
    }

    &__phone {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 16px;
    }

    &__copyright {
        background: #242836;
        white-space: nowrap;

        .container {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;
            color: rgba(255, 255, 255, 0.7);
            font-size: 13px;
            font-weight: 300;
        }
    }

    &__copyright-text:first-of-type {
        display: inline-block;
        margin-right: 20px;
    }

    @media(max-width: 1345px) { 
        padding-top: 45px;
        
        & > .container {
            margin-bottom: 40px;
        }

        &__nav-list {
            width: 55%;
            margin-right: 30px;
        }

        &__nav-item {
            padding-right: 0;
        }
    }

    @media(max-width: 1000px) {
        &__logo-img {
            height: 15px;
            width: 130px;
        }

        &__nav-link {
            font-size: 14px;
            padding: 0 10px 10px;
        }

        &__phone {
            margin-bottom: 10px;
            font-size: 14px;
        }

        .socials {
            margin-left: auto;
        }
    }

    @media(max-width: 768px) {

        & > .container {
            margin-bottom: 20px;
            flex-wrap: wrap;
        }

        &__nav-list {
            order: 1;
            padding-top: 20px;
            width: 100%;
            margin: 0;
        }

        &__nav-link {
            padding-left: 0;
        }

        &__copyright {

            .container {
                flex-wrap: wrap;
                padding: 15px 20px 5px;
            }

            &-text {
                margin-bottom: 10px;
            }
        }
    }

    @media(max-width: 560px) { 
        &__nav-list {
            width: 300px;
            max-height: 120px;
            margin-right: auto;
        }

        &__nav-link {
            font-size: 12px;
        }
    }
}