.stages {
    position: relative;
    background: #353E60;
    padding: 100px 0 200px;

    .container {
        position: relative;
        z-index: 1;
    }
    
    .title {
        margin-bottom: 135px;
    }

    &__decor {
        position: absolute;
        width: 100%;
        height: auto;
        top: 23%;
        left: 0;
    }

    &__card-inner {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        background: #424B70;
        color: white;
        padding: 40px 30px 50px;
        width: 395px;
    }

    &__card-decor {
        width: 75px;
        height: 75px;
        margin-bottom: 25px;
    }

    &__card-title {
        display: block;
        margin-bottom: 10px;
        font-size: 20px;
    }

    @media(max-width: 1345px) {
        padding: 50px 0 100px;

        &__card {
            padding: 30px 20px;
            width: 300px;
        }
        
        &__card-decor {
            width: 50px;
            height: 50px;
            margin-bottom: 15px;
        }
    }

    @media(max-width: 1000px) {
        &__card {
            width: 230px;
        }
    }

    @media(max-width: 768px) {
        padding: 50px 0;

        .title {
            margin-bottom: 80px;
        }

        &__decor {
            top: 16%;
        }

        &__card-inner {
            flex-wrap: wrap;
        }

        &__card {
            width: 49%;
            margin-bottom: 10px;
            text-align: center;

            &:last-of-type {
                width: 100%;
                margin: 0 auto;
            }
        }

        &__decor {
            display: none;
        }
    }

    @media(max-width: 560px) {
        padding: 40px 0;

        .title {
            margin-bottom: 30px;
        }

        &__card {
            width: 100%;
        }
    }
}