@font-face {
    font-family: "Museo Sans Cyrl 100";
    src: url("../assets/fonts/MuseoSansCyrl_0.otf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("../assets/fonts/MuseoSansCyrl_0.otf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("../assets/fonts/MuseoSansCyrl_1.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("../assets/fonts/MuseoSansCyrl_2.otf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("../assets/fonts/MuseoSansCyrl_3.otf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
